[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SparseICA"]
	path = SparseICA
	url = https://github.com/thebrisklab/sparseica
